small {
  opacity: .6;
}

.text-muted {
  opacity: .6;
}

.clear {
  display: block;
  overflow: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.y-center {
  display: flex;
  align-items: center;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.none {
  display: none;
}

.b-white {
  border-color: #ffffff;
}

.w-full {
  width: 100%;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-v {
  height: 100vh;
}

.h-v-5 {
  height: 50vh;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.w-40 {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.point3 {
  position: relative;
}

.point2 {
  position: absolute;
}
.contentY{
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.point4 {
  background-color: dodgerblue;
  box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #e0e0e0;
  -moz-box-shadow: 0 0 5px #e0e0e0;
  -o-box-shadow: 0 0 5px #e0e0e0;
  -ms-box-shadow: 0 0 5px #e0e0e0;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 100% 0% 100% 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pd-2x {
  padding: 20px;
  border-radius: 5px;
  background-color: #5F24B2;
  margin-bottom: 30px;
  text-align: left;
  color: #DAB5F1;
}
